@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<ul>
    <li>Idea number one</li>
    <li>Idea number two</li>
    <li>Idea number three</li>
</ul>
@await Html.PartialAsync("_Sidebar")
